@model EventViewModel

@{
    ViewData["Title"] = "Edit Event : " + Model.EventDetails.Title;
    string description = Model.EventDetails.Description;
}

<div class="container">

    <h2 class="display-4 text-monospace text-muted">Edit Event Details</h2>
    <hr class="hr" />

    <form method="post" enctype="multipart/form-data" asp-action="UpdateEvent" asp-controller="book">

        <input asp-for="@Model.EventDetails.Id" readonly hidden />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="@Model.EditEventDetails.Title" class="control-label"></label>
            <input asp-for="@Model.EditEventDetails.Title" class="form-control" value="@Model.EventDetails.Title" />
            <span asp-validation-for="@Model.EditEventDetails.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EditEventDetails.Date" class="control-label"></label>
            <input asp-for="@Model.EditEventDetails.Date" type="date" class="form-control" value="@Model.EventDetails.Date" required />
            <span asp-validation-for="@Model.EditEventDetails.Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EditEventDetails.StartTime" class="control-label"></label>
            <input asp-for="@Model.EditEventDetails.StartTime" type="time" class="form-control" value="@Model.EventDetails.StartTime.TimeOfDay" />
            <span asp-validation-for="@Model.EditEventDetails.StartTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EditEventDetails.Location" class="control-label"></label>
            <input asp-for="@Model.EditEventDetails.Location" type="text" class="form-control" value="@Model.EventDetails.Location" />
            <span asp-validation-for="@Model.EditEventDetails.Location" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EditEventDetails.Description" class="control-label">
                Description
                <span class="font-weight-light font-italic">
                    (Max. word limit 500)
                </span>
            </label>
            <textarea asp-for="@Model.EditEventDetails.Description" class="form-control">@Model.EventDetails.Description</textarea>
            <span asp-validation-for="@Model.EditEventDetails.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EditEventDetails.Duration" class="control-label"></label>
            <input asp-for="@Model.EditEventDetails.Duration" min="1" class="form-control" value="@Model.EventDetails.Duration" />
            <span asp-validation-for="@Model.EditEventDetails.Duration" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EditEventDetails.InviteByEmail" class="control-label"></label>
            <input asp-for="@Model.EditEventDetails.InviteByEmail" class="form-control" value="@Model.EventDetails.InviteByEmail" />
            <span asp-validation-for="@Model.EditEventDetails.InviteByEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EditEventDetails.OtherDetails" class="control-label"></label>
            <textarea asp-for="@Model.EditEventDetails.OtherDetails" class="form-control" value="@Model.EventDetails.OtherDetails"></textarea>
            <span asp-validation-for="@Model.EditEventDetails.OtherDetails" class="text-danger"></span>
        </div>

        <div class="row d-flex align-items-center ml-1 mb-2">
            @{
                if (Model.EventDetails.Type == EventType.Public)
                {

                    <div class="form-check mx-2">
                        <input asp-for="@Model.EditEventDetails.Type" class="form-check-input" type="radio" value="Public" checked>
                        <label asp-for="@Model.EditEventDetails.Type" class="form-check-label">Public</label>
                        <span asp-validation-for="@Model.EditEventDetails.Type" class="text-danger"></span>
                    </div>
                    <div class="form-check mx-2">
                        <input asp-for="@Model.EditEventDetails.Type" class="form-check-input" type="radio" value="Private">
                        <label asp-for="@Model.EditEventDetails.Type" class="form-check-label">Private</label>
                        <span asp-validation-for="@Model.EditEventDetails.Type" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-check mx-2">
                        <input asp-for="@Model.EditEventDetails.Type" class="form-check-input" type="radio" value="Public">
                        <label asp-for="@Model.EditEventDetails.Type" class="form-check-label">Public</label>
                        <span asp-validation-for="@Model.EditEventDetails.Type" class="text-danger"></span>
                    </div>
                    <div class="form-check mx-2">
                        <input asp-for="@Model.EditEventDetails.Type" class="form-check-input" type="radio" value="Private" checked>
                        <label asp-for="@Model.EditEventDetails.Type" class="form-check-label">Private</label>
                        <span asp-validation-for="@Model.EditEventDetails.Type" class="text-danger"></span>
                    </div>
                }
            }
        </div>

        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-success" />
        </div>
    </form>


</div>