@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@inject IBookEventFacade _bookEventFacade;
@inject IUserService _userService;

@{
    var getDetails = _bookEventFacade.GetDetails();

    var myInvitations = new List<InvitationEntity>();

    if (_userService.IsAuthenticated())
    {
        myInvitations = await getDetails.GetMyInvitations();
    }
}
<head>
    <style>
        .mainText {
            font-size: 15px
        }
    </style>
</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow align-items-center">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" width="30" heighht="30" asp-append-version="true" />
                @_configuration["AppName"]
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <partial name="_LoginInfo" />
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="book" asp-action="getallbookevent">All Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="font-weight-bold btn btn-outline-success rounded border-0" asp-area="" asp-controller="book" asp-action="addnewevent">New Event</a>
                    </li>


                    @{
                        if (_userService.IsAuthenticated() && myInvitations.Any() == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" id="d" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    📩
                                </a>
                                <div class="dropdown-menu width" aria-labelledby="d">
                                    @{
                                        <h4 class="font-weight-bold pl-2 text-muted text-monospace">Invitations</h4>
                                        foreach (var invitation in myInvitations)
                                        {
                                            var bookEvent = await getDetails.GetBookEventById(invitation.EventId);

                                            <a class="dropdown-item" asp-controller="book" asp-action="getbookevent" asp-route-id="@bookEvent.Id">
                                                <div class="border-top text-muted">

                                                    <p class="mainText mb-0 pt-2">
                                                        <span class="font-weight-bold">@invitation.Sender</span>
                                                        has invited you to
                                                        <span class="font-weight-bold">
                                                            @bookEvent.Title
                                                        </span>
                                                    </p>
                                                    <p class="small text-danger mb-0">
                                                        - @bookEvent.StartTime.ToShortTimeString() | @bookEvent.Date.ToShortDateString() at
                                                        @bookEvent.Location
                                                    </p>
                                                </div>
                                            </a>
                                        }
                                    }
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

